<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Principal", root_path %></li>
      <% if signed_in? %>
	  <li><%= link_to "Usuarios", users_path %></li>
      <li><%= link_to "Perfil", current_user %></li>
	  <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Ajuda", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Sair", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Entrar", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>